@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: normal;
  src: url('@/assets/fonts/vazir-font/Vazir-Medium-FD-WOL.ttf');
}

@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: bold;
  src: url('@/assets/fonts/vazir-font/Vazir-Bold-FD-WOL.ttf');
}

@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: lighter;
  src: url('@/assets/fonts/vazir-font/Vazir-Medium-FD-WOL.ttf');
}
